/*
!.gitignore
!dev_keystore/
!dev_password.txt
!run_eth_rpc.sh
!run_tcp.sh
!bor_genesis.json
!avalanchego_genesis.json
!solana-run-neon.sh
!neon_proxy.sh
!sheme.sql
!run_and_init_db.sh
!neon_scheme.sql
